
[class*="col-"] {
    width: 100%;
}
body {
@media only screen and (min-width: 600px) {
    [class*="col-"] {
float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
.header {
color: white;
padding: 15px;
height: 200px;
background-image: url(ridderkerk4.jpg);
background-repeat: no-repeat;
background-size: 100%;
font-size: 48px;
}

footer {
    height: 50px;
    background-color: #41A8BF;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}
h1, h3, h4 {
    font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.col-9 {
    background-color: #B0D1D9;
    float: right;
        height: 750px;

}

.col-5 {
    margin: 0px 35px 35px 35px;
}
img {
    float: right;
    padding-left: 15px;
}